.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.testing {
  width: 30px;
  height: 30px;
  background: yellow;
}
.clicked {
  background: red;
}

div.PlantGrowthContainer {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.Plant > img {
  height: 500px;
}

div.Water > img,
div.Sun > img {
  height: 150px;
}
